
.marcas-container {
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background-image: linear-gradient(to bottom, #000000, transparent), url(../imgAll/Texture\ Carbon\ Fiber\ Best\ Wallpaper\ 1600x1200\ Full\ HD\ Wallpapers.jpg);

    
    h1 {
        font-size: 38px;
        font-weight: 400;
        color: $color-font;
        margin: 56px;
        letter-spacing: 1px;
    }


    .gridcard-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 24px;
        width: 70%;
        height: 65%;
        margin: 0 auto;
        margin-bottom: 100px;
    }

    .grid-item {
        box-shadow: 5px 4px 6px black;
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.856);
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: transform 0.5s ease;

        &.grid-item:hover {
            transform: scale(1.1);
        }
    }

    img {
        width: 100px;
    }
}

